* {
    background-color: #272727;
}

body {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* -- Estilização Header -- */
.cabecalho {
    margin-bottom: 60px;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow:  0 4px 12px rgba(0, 0, 0, 0.5);
}

.cabecalho-logo img {
    height: 60px;
}

.cabecalho-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: rgb(173, 0, 14);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cabecalho-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
}

/* -- Estilização Sobre -- */
.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 90px;
    padding: 10px 30px 10px 30px;
}

.sobre-texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #707070;
}

.sobre-foto img {
    height: 500px;
    border: 3px rgb(173, 0, 14) solid;
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.sobre-foto img:hover {
    transform: translateY(-5px);
}

/* -- Estilização Tecnologias -- */
.tecnologias {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #707070;
}

.tecnologias-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
    padding: 40px;
}

.tecnologias-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
    width: 150px;
    border: 2px rgb(173, 0, 14) solid;
    border-radius: 16px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.8);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tecnologias-img-container:hover {
    transform: translateY(-5px);
}

.tecnologias-img-container img {
    height: 70px;
}

/* -- Estilização Projetos -- */
#projetos {
    margin-top: 60px;
    padding: 60px 20px;
    text-align: center;;
}

#projetos h2 {
  font-size: 2rem;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 80px;
}

.projetos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
    border: 3px rgb(173, 0, 14) solid;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
    margin: 10px 0;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: #707070;
}

.card-content p {
    font-size: 0.95rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(173, 0, 14);
    margin-bottom: 10px;
}

.projetos-tecnologias {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.85rem;
  color: #707070;
  margin-bottom: 15px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: rgb(173, 0, 14);
    color: #707070;
    padding: 8px 15px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background 0.3s ease;
}

/* Estilização do footer */
.rodape {
    margin-top: 60px;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px #272727 solid;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.5);;
}

.rodape-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rodape-links-link img {
    height: 40px;
    transition: transform 0.2s ease;
}

.rodape-links-link img:hover {
    transform: translateY(-5px);
}

.rodape-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(173, 0, 14);
}